In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import plotly.express as pr
import plotly.graph_objects as go

In [3]:
#read the data set
df = pd.read_csv('/content/drive/MyDrive/project_dataset.csv')

In [4]:
df

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,404790,2009,2,6,5,5,2009-06-05,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,1148757,2016,1,2,4,4,2016-02-04,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,747392,1994,4,11,19,6,1994-11-19,CO,19704,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,159718,2010,4,12,2,4,2010-12-02,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,1165807,2019,4,10,15,2,2019-10-15,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df1 = df.copy()

In [6]:
df1.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df1.tail()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
2873,404790,2009,2,6,5,5,2009-06-05,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,1148757,2016,1,2,4,4,2016-02-04,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,747392,1994,4,11,19,6,1994-11-19,CO,19704,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,159718,2010,4,12,2,4,2010-12-02,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,1165807,2019,4,10,15,2,2019-10-15,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

df1.head(60)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1133769,2014,2,4,2,3,2014-04-02,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1465620,2011,3,8,15,1,2011-08-15,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,172607,2019,1,1,6,7,2019-01-06,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1975839,2002,1,1,25,5,2002-01-25,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1912303,2005,3,8,1,1,2005-08-01,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,525812,2000,4,12,17,7,2000-12-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1963835,2005,3,7,5,2,2005-07-05,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1563796,2019,2,6,21,5,2019-06-21,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1381185,2013,4,10,11,5,2013-10-11,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1122270,2011,4,11,22,2,2011-11-22,XE,20374,XE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1540005,1992,4,11,23,1,1992-11-23,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,313513,1988,1,2,27,6,1988-02-27,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1056271,2015,4,10,28,3,2015-10-28,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1512389,2003,1,1,2,4,2003-01-02,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,467117,2008,2,5,5,1,2008-05-05,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1183687,1997,4,12,3,3,1997-12-03,US,20355,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1285125,1997,4,10,9,4,1997-10-09,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1484623,2013,4,12,21,6,2013-12-21,HA,19690,HA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1470610,2019,1,3,9,6,2019-03-09,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,845280,1996,1,3,24,7,1996-03-24,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1828908,2005,3,9,29,4,2005-09-29,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27855,1989,3,7,25,2,1989-07-25,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1308452,2006,4,12,18,1,2006-12-18,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1761547,1988,4,10,21,5,1988-10-21,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1370687,2019,4,10,29,2,2019-10-29,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1781358,2003,2,6,18,3,2003-06-18,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1464170,2007,4,10,13,6,2007-10-13,OH,20417,OH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1235842,2003,1,1,24,5,2003-01-24,DH,20404,DH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1926381,2003,4,10,13,1,2003-10-13,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,834016,2013,2,5,27,1,2013-05-27,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1062410,2011,2,6,23,4,2011-06-23,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,795459,2012,3,9,20,4,2012-09-20,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1556850,2013,3,7,6,6,2013-07-06,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,291296,2010,3,8,22,7,2010-08-22,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,670315,1998,1,3,1,7,1998-03-01,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,990811,1996,2,5,7,2,1996-05-07,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,585995,1989,1,2,3,5,1989-02-03,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,1383633,1990,3,7,6,5,1990-07-06,US,20355,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1530067,1994,4,10,9,7,1994-10-09,CO,19704,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,36992,2007,2,4,17,2,2007-04-17,FL,20437,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,372885,2007,2,5,19,6,2007-05-19,XE,20374,XE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1679963,1994,4,10,28,5,1994-10-28,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,385444,1995,4,11,25,6,1995-11-25,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,1778977,1992,2,5,28,4,1992-05-28,TW,20211,TW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,1905824,1996,2,6,25,2,1996-06-25,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,370144,2008,3,8,2,6,2008-08-02,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,1021191,2006,1,2,28,2,2006-02-28,YV,20378,YV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,1870601,2010,3,8,31,2,2010-08-31,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,654682,2014,4,11,22,6,2014-11-22,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,239880,2016,3,7,21,4,2016-07-21,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,861229,1996,1,3,26,2,1996-03-26,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,72351,2013,1,2,1,5,2013-02-01,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,1463270,2017,1,2,25,6,2017-02-25,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,359738,2003,4,11,3,1,2003-11-03,CO,19704,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1659409,1990,3,9,11,2,1990-09-11,US,20355,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1.shape

(2878, 110)

In [10]:
df1.info

<bound method DataFrame.info of       Unnamed: 0  Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
0        1295781  1998        2      4           2          4  1998-04-02
1        1125375  2013        2      5          13          1  2013-05-13
2         118824  1993        3      9          25          6  1993-09-25
3         634825  1994        4     11          12          6  1994-11-12
4        1888125  2017        3      8          17          4  2017-08-17
...          ...   ...      ...    ...         ...        ...         ...
2873      404790  2009        2      6           5          5  2009-06-05
2874     1148757  2016        1      2           4          4  2016-02-04
2875      747392  1994        4     11          19          6  1994-11-19
2876      159718  2010        4     12           2          4  2010-12-02
2877     1165807  2019        4     10          15          2  2019-10-15

     Reporting_Airline  DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline  \
0                   AS                     19930                          AS
1                   EV                     20366                          EV
2                   UA                     19977                          UA
3                   HP                     19991                          HP
4                   UA                     19977                          UA
...                ...                       ...                         ...
2873                OO                     20304                          OO
2874                WN                     19393                          WN
2875                CO                     19704                          CO
2876                OO                     20304                          OO
2877                OO                     20304                          OO

      ... Div4WheelsOff  Div4TailNum  Div5Airport  Div5AirportID  \
0     ...           NaN          NaN          NaN            NaN
1     ...           NaN          NaN          NaN            NaN
2     ...           NaN          NaN          NaN            NaN
3     ...           NaN          NaN          NaN            NaN
4     ...           NaN          NaN          NaN            NaN
...   ...           ...          ...          ...            ...
2873  ...           NaN          NaN          NaN            NaN
2874  ...           NaN          NaN          NaN            NaN
2875  ...           NaN          NaN          NaN            NaN
2876  ...           NaN          NaN          NaN            NaN
2877  ...           NaN          NaN          NaN            NaN

      Div5AirportSeqID Div5WheelsOn Div5TotalGTime Div5LongestGTime  \
0                  NaN          NaN            NaN              NaN
1                  NaN          NaN            NaN              NaN
2                  NaN          NaN            NaN              NaN
3                  NaN          NaN            NaN              NaN
4                  NaN          NaN            NaN              NaN
...                ...          ...            ...              ...
2873               NaN          NaN            NaN              NaN
2874               NaN          NaN            NaN              NaN
2875               NaN          NaN            NaN              NaN
2876               NaN          NaN            NaN              NaN
2877               NaN          NaN            NaN              NaN

      Div5WheelsOff Div5TailNum
0               NaN         NaN
1               NaN         NaN
2               NaN         NaN
3               NaN         NaN
4               NaN         NaN
...             ...         ...
2873            NaN         NaN
2874            NaN         NaN
2875            NaN         NaN
2876            NaN         NaN
2877            NaN         NaN

[2878 rows x 110 columns]>

In [11]:
df1.dtypes

Unnamed: 0            int64
Year                  int64
Quarter               int64
Month                 int64
DayofMonth            int64
                     ...
Div5WheelsOn        float64
Div5TotalGTime      float64
Div5LongestGTime    float64
Div5WheelsOff       float64
Div5TailNum         float64
Length: 110, dtype: object

In [12]:
df1.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=110)

In [13]:
df1.describe()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
count,2.878000e+03,2878.000000,2878.000000,2878.000000,2878.000000,2878.000000,2878.000000,2878.000000,2878.000000,2.878000e+03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,9.863247e+05,2004.310285,2.541696,6.624392,16.104934,3.962821,19922.052814,1751.395761,12717.863447,1.271788e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.745964e+05,9.212094,1.112462,3.443318,8.794655,1.998872,367.910449,1673.942941,1539.743015,1.539741e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.480000e+02,1987.000000,1.000000,1.000000,1.000000,1.000000,19386.000000,1.000000,10135.000000,1.013501e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.945642e+05,1997.000000,2.000000,4.000000,9.000000,2.000000,19704.000000,538.250000,11292.000000,1.129202e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,9.935670e+05,2005.000000,3.000000,7.000000,16.000000,4.000000,19805.000000,1194.000000,12892.000000,1.289201e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.463355e+06,2012.000000,4.000000,10.000000,24.000000,6.000000,20355.000000,2237.750000,14057.000000,1.405702e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.998802e+06,2020.000000,4.000000,12.000000,31.000000,7.000000,21171.000000,7779.000000,16440.000000,1.644001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2873    False
2874    False
2875    False
2876    False
2877    False
Length: 2878, dtype: bool

In [15]:
df1.isna()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2874,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2875,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2876,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2877,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [16]:
df1.isna().sum()

Unnamed: 0             0
Year                   0
Quarter                0
Month                  0
DayofMonth             0
                    ...
Div5WheelsOn        2878
Div5TotalGTime      2878
Div5LongestGTime    2878
Div5WheelsOff       2878
Div5TailNum         2878
Length: 110, dtype: int64

In [17]:
df1.isna().sum()/df1.shape[0]

Unnamed: 0          0.0
Year                0.0
Quarter             0.0
Month               0.0
DayofMonth          0.0
                   ...
Div5WheelsOn        1.0
Div5TotalGTime      1.0
Div5LongestGTime    1.0
Div5WheelsOff       1.0
Div5TailNum         1.0
Length: 110, dtype: float64

In [18]:
df1.dropna(axis=1)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,DestWac,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,93,1330,1300-1359,1426,1400-1459,0.0,0.0,1.0,224.0,1
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,38,1301,1300-1359,1423,1400-1459,0.0,0.0,1.0,277.0,2
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,41,1650,1600-1659,1730,1700-1759,0.0,0.0,1.0,130.0,1
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,81,1245,1200-1259,1457,1400-1459,0.0,0.0,1.0,370.0,2
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,82,755,0700-0759,902,0900-0959,0.0,0.0,1.0,692.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,404790,2009,2,6,5,5,2009-06-05,OO,20304,OO,...,92,1639,1600-1659,1718,1700-1759,0.0,0.0,1.0,106.0,1
2874,1148757,2016,1,2,4,4,2016-02-04,WN,19393,WN,...,36,1345,1300-1359,1455,1400-1459,0.0,0.0,1.0,255.0,2
2875,747392,1994,4,11,19,6,1994-11-19,CO,19704,CO,...,35,1320,1300-1359,1714,1700-1759,0.0,0.0,1.0,1235.0,5
2876,159718,2010,4,12,2,4,2010-12-02,OO,20304,OO,...,91,1246,1200-1259,1409,1400-1459,0.0,0.0,1.0,373.0,2
2877,1165807,2019,4,10,15,2,2019-10-15,OO,20304,OO,...,92,938,0900-0959,1107,1100-1159,0.0,0.0,1.0,352.0,2

In [19]:
df

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,404790,2009,2,6,5,5,2009-06-05,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2874,1148757,2016,1,2,4,4,2016-02-04,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,747392,1994,4,11,19,6,1994-11-19,CO,19704,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,159718,2010,4,12,2,4,2010-12-02,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,1165807,2019,4,10,15,2,2019-10-15,OO,20304,OO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df1.dropna(axis=1,inplace=True)

In [21]:
df1

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,DestWac,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,93,1330,1300-1359,1426,1400-1459,0.0,0.0,1.0,224.0,1
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,38,1301,1300-1359,1423,1400-1459,0.0,0.0,1.0,277.0,2
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,41,1650,1600-1659,1730,1700-1759,0.0,0.0,1.0,130.0,1
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,81,1245,1200-1259,1457,1400-1459,0.0,0.0,1.0,370.0,2
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,82,755,0700-0759,902,0900-0959,0.0,0.0,1.0,692.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2873,404790,2009,2,6,5,5,2009-06-05,OO,20304,OO,...,92,1639,1600-1659,1718,1700-1759,0.0,0.0,1.0,106.0,1
2874,1148757,2016,1,2,4,4,2016-02-04,WN,19393,WN,...,36,1345,1300-1359,1455,1400-1459,0.0,0.0,1.0,255.0,2
2875,747392,1994,4,11,19,6,1994-11-19,CO,19704,CO,...,35,1320,1300-1359,1714,1700-1759,0.0,0.0,1.0,1235.0,5
2876,159718,2010,4,12,2,4,2010-12-02,OO,20304,OO,...,91,1246,1200-1259,1409,1400-1459,0.0,0.0,1.0,373.0,2
2877,1165807,2019,4,10,15,2,2019-10-15,OO,20304,OO,...,92,938,0900-0959,1107,1100-1159,0.0,0.0,1.0,352.0,2

In [22]:
df1.dtypes

Unnamed: 0                           int64
Year                                 int64
Quarter                              int64
Month                                int64
DayofMonth                           int64
DayOfWeek                            int64
FlightDate                          object
Reporting_Airline                   object
DOT_ID_Reporting_Airline             int64
IATA_CODE_Reporting_Airline         object
Flight_Number_Reporting_Airline      int64
OriginAirportID                      int64
OriginAirportSeqID                   int64
OriginCityMarketID                   int64
Origin                              object
OriginCityName                      object
OriginWac                            int64
DestAirportID                        int64
DestAirportSeqID                     int64
DestCityMarketID                     int64
Dest                                object
DestCityName                        object
DestWac                              int64
CRSDepTime                           int64
DepTimeBlk                          object
CRSArrTime                           int64
ArrTimeBlk                          object
Cancelled                          float64
Diverted                           float64
Flights                            float64
Distance                           float64
DistanceGroup                        int64
dtype: object

In [23]:
df1.shape

(2878, 32)

In [24]:
data = df1.sample(n = 500, random_state = 42)

In [25]:
data

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,DestWac,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup
471,684344,1997,2,6,28,6,1997-06-28,UA,19977,UA,...,41,1245,1200-1259,1423,1400-1459,0.0,0.0,1.0,867.0,4
1453,488548,2001,2,6,15,5,2001-06-15,MQ,20398,MQ,...,42,1633,1600-1659,1740,1700-1759,0.0,0.0,1.0,177.0,1
2376,1724675,2007,2,5,30,3,2007-05-30,UA,19977,UA,...,85,1435,1400-1459,1635,1600-1659,0.0,0.0,1.0,2066.0,9
1601,302508,2005,2,4,14,4,2005-04-14,EV,20366,EV,...,34,538,0001-0559,728,0700-0759,0.0,0.0,1.0,594.0,3
1094,240005,2013,3,8,11,7,2013-08-11,DL,19790,DL,...,33,2030,2000-2059,2157,2100-2159,0.0,0.0,1.0,404.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,1553918,2019,2,6,24,1,2019-06-24,UA,19977,UA,...,41,700,0700-0759,807,0800-0859,0.0,0.0,1.0,612.0,3
2028,680093,1995,3,7,19,3,1995-07-19,WN,19393,WN,...,92,630,0600-0659,735,0700-0759,0.0,0.0,1.0,279.0,2
2857,1370795,2019,1,1,25,5,2019-01-25,UA,19977,UA,...,84,1140,1100-1159,1337,1300-1359,0.0,0.0,1.0,524.0,3
1421,263009,2010,4,10,19,2,2010-10-19,AA,19805,AA,...,74,1855,1800-1859,2145,2100-2159,0.0,0.0,1.0,1041.0,5
422,233133,2014,1,3,9,7,2014-03-09,UA,19977,UA,...,41,1331,1300-1359,1945,1900-1959,0.0,0.0,1.0,1846.0,8

In [26]:
data.shape
data.columns
data.head()
data.tail

<bound method NDFrame.tail of       Unnamed: 0  Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
471       684344  1997        2      6          28          6  1997-06-28
1453      488548  2001        2      6          15          5  2001-06-15
2376     1724675  2007        2      5          30          3  2007-05-30
1601      302508  2005        2      4          14          4  2005-04-14
1094      240005  2013        3      8          11          7  2013-08-11
...          ...   ...      ...    ...         ...        ...         ...
212      1553918  2019        2      6          24          1  2019-06-24
2028      680093  1995        3      7          19          3  1995-07-19
2857     1370795  2019        1      1          25          5  2019-01-25
1421      263009  2010        4     10          19          2  2010-10-19
422       233133  2014        1      3           9          7  2014-03-09

     Reporting_Airline  DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline  \
471                 UA                     19977                          UA
1453                MQ                     20398                          MQ
2376                UA                     19977                          UA
1601                EV                     20366                          EV
1094                DL                     19790                          DL
...                ...                       ...                         ...
212                 UA                     19977                          UA
2028                WN                     19393                          WN
2857                UA                     19977                          UA
1421                AA                     19805                          AA
422                 UA                     19977                          UA

      ...  DestWac  CRSDepTime  DepTimeBlk  CRSArrTime ArrTimeBlk Cancelled  \
471   ...       41        1245   1200-1259        1423  1400-1459       0.0
1453  ...       42        1633   1600-1659        1740  1700-1759       0.0
2376  ...       85        1435   1400-1459        1635  1600-1659       0.0
1601  ...       34         538   0001-0559         728  0700-0759       0.0
1094  ...       33        2030   2000-2059        2157  2100-2159       0.0
...   ...      ...         ...         ...         ...        ...       ...
212   ...       41         700   0700-0759         807  0800-0859       0.0
2028  ...       92         630   0600-0659         735  0700-0759       0.0
2857  ...       84        1140   1100-1159        1337  1300-1359       0.0
1421  ...       74        1855   1800-1859        2145  2100-2159       0.0
422   ...       41        1331   1300-1359        1945  1900-1959       0.0

      Diverted  Flights  Distance  DistanceGroup
471        0.0      1.0     867.0              4
1453       0.0      1.0     177.0              1
2376       0.0      1.0    2066.0              9
1601       0.0      1.0     594.0              3
1094       0.0      1.0     404.0              2
...        ...      ...       ...            ...
212        0.0      1.0     612.0              3
2028       0.0      1.0     279.0              2
2857       0.0      1.0     524.0              3
1421       0.0      1.0    1041.0              5
422        0.0      1.0    1846.0              8

[500 rows x 32 columns]>

In [27]:
data.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,DestWac,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup
471,684344,1997,2,6,28,6,1997-06-28,UA,19977,UA,...,41,1245,1200-1259,1423,1400-1459,0.0,0.0,1.0,867.0,4
1453,488548,2001,2,6,15,5,2001-06-15,MQ,20398,MQ,...,42,1633,1600-1659,1740,1700-1759,0.0,0.0,1.0,177.0,1
2376,1724675,2007,2,5,30,3,2007-05-30,UA,19977,UA,...,85,1435,1400-1459,1635,1600-1659,0.0,0.0,1.0,2066.0,9
1601,302508,2005,2,4,14,4,2005-04-14,EV,20366,EV,...,34,538,0001-0559,728,0700-0759,0.0,0.0,1.0,594.0,3
1094,240005,2013,3,8,11,7,2013-08-11,DL,19790,DL,...,33,2030,2000-2059,2157,2100-2159,0.0,0.0,1.0,404.0,2

In [28]:
data.tail

<bound method NDFrame.tail of       Unnamed: 0  Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
471       684344  1997        2      6          28          6  1997-06-28
1453      488548  2001        2      6          15          5  2001-06-15
2376     1724675  2007        2      5          30          3  2007-05-30
1601      302508  2005        2      4          14          4  2005-04-14
1094      240005  2013        3      8          11          7  2013-08-11
...          ...   ...      ...    ...         ...        ...         ...
212      1553918  2019        2      6          24          1  2019-06-24
2028      680093  1995        3      7          19          3  1995-07-19
2857     1370795  2019        1      1          25          5  2019-01-25
1421      263009  2010        4     10          19          2  2010-10-19
422       233133  2014        1      3           9          7  2014-03-09

     Reporting_Airline  DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline  \
471                 UA                     19977                          UA
1453                MQ                     20398                          MQ
2376                UA                     19977                          UA
1601                EV                     20366                          EV
1094                DL                     19790                          DL
...                ...                       ...                         ...
212                 UA                     19977                          UA
2028                WN                     19393                          WN
2857                UA                     19977                          UA
1421                AA                     19805                          AA
422                 UA                     19977                          UA

      ...  DestWac  CRSDepTime  DepTimeBlk  CRSArrTime ArrTimeBlk Cancelled  \
471   ...       41        1245   1200-1259        1423  1400-1459       0.0
1453  ...       42        1633   1600-1659        1740  1700-1759       0.0
2376  ...       85        1435   1400-1459        1635  1600-1659       0.0
1601  ...       34         538   0001-0559         728  0700-0759       0.0
1094  ...       33        2030   2000-2059        2157  2100-2159       0.0
...   ...      ...         ...         ...         ...        ...       ...
212   ...       41         700   0700-0759         807  0800-0859       0.0
2028  ...       92         630   0600-0659         735  0700-0759       0.0
2857  ...       84        1140   1100-1159        1337  1300-1359       0.0
1421  ...       74        1855   1800-1859        2145  2100-2159       0.0
422   ...       41        1331   1300-1359        1945  1900-1959       0.0

      Diverted  Flights  Distance  DistanceGroup
471        0.0      1.0     867.0              4
1453       0.0      1.0     177.0              1
2376       0.0      1.0    2066.0              9
1601       0.0      1.0     594.0              3
1094       0.0      1.0     404.0              2
...        ...      ...       ...            ...
212        0.0      1.0     612.0              3
2028       0.0      1.0     279.0              2
2857       0.0      1.0     524.0              3
1421       0.0      1.0    1041.0              5
422        0.0      1.0    1846.0              8

[500 rows x 32 columns]>

In [29]:
data.count()

Unnamed: 0                         500
Year                               500
Quarter                            500
Month                              500
DayofMonth                         500
DayOfWeek                          500
FlightDate                         500
Reporting_Airline                  500
DOT_ID_Reporting_Airline           500
IATA_CODE_Reporting_Airline        500
Flight_Number_Reporting_Airline    500
OriginAirportID                    500
OriginAirportSeqID                 500
OriginCityMarketID                 500
Origin                             500
OriginCityName                     500
OriginWac                          500
DestAirportID                      500
DestAirportSeqID                   500
DestCityMarketID                   500
Dest                               500
DestCityName                       500
DestWac                            500
CRSDepTime                         500
DepTimeBlk                         500
CRSArrTime                         500
ArrTimeBlk                         500
Cancelled                          500
Diverted                           500
Flights                            500
Distance                           500
DistanceGroup                      500
dtype: int64

In [30]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [31]:
data.shape

(500, 31)

In [32]:
data

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Flight_Number_Reporting_Airline,...,DestWac,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup
471,1997,2,6,28,6,1997-06-28,UA,19977,UA,1690,...,41,1245,1200-1259,1423,1400-1459,0.0,0.0,1.0,867.0,4
1453,2001,2,6,15,5,2001-06-15,MQ,20398,MQ,4197,...,42,1633,1600-1659,1740,1700-1759,0.0,0.0,1.0,177.0,1
2376,2007,2,5,30,3,2007-05-30,UA,19977,UA,1493,...,85,1435,1400-1459,1635,1600-1659,0.0,0.0,1.0,2066.0,9
1601,2005,2,4,14,4,2005-04-14,EV,20366,EV,4275,...,34,538,0001-0559,728,0700-0759,0.0,0.0,1.0,594.0,3
1094,2013,3,8,11,7,2013-08-11,DL,19790,DL,1469,...,33,2030,2000-2059,2157,2100-2159,0.0,0.0,1.0,404.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2019,2,6,24,1,2019-06-24,UA,19977,UA,605,...,41,700,0700-0759,807,0800-0859,0.0,0.0,1.0,612.0,3
2028,1995,3,7,19,3,1995-07-19,WN,19393,WN,1709,...,92,630,0600-0659,735,0700-0759,0.0,0.0,1.0,279.0,2
2857,2019,1,1,25,5,2019-01-25,UA,19977,UA,452,...,84,1140,1100-1159,1337,1300-1359,0.0,0.0,1.0,524.0,3
1421,2010,4,10,19,2,2010-10-19,AA,19805,AA,597,...,74,1855,1800-1859,2145,2100-2159,0.0,0.0,1.0,1041.0,5
422,2014,1,3,9,7,2014-03-09,UA,19977,UA,1135,...,41,1331,1300-1359,1945,1900-1959,0.0,0.0,1.0,1846.0,8

In [33]:
fig = go.Figure(data =go.Scatter(x=df['Distance'], y =df['DepTime'],mode='markers', marker=dict(color='red')))

In [34]:
fig.update_layout(title='scatter plot for distance vs departure time', xaxis_title = 'Distance', yaxis_title='departure time')
fig.show()

In [35]:
line_data = df.groupby('Month')['ArrDelay'].mean().reset_index()

In [36]:
line_data

    Month  ArrDelay
0       1  5.540426
1       2  7.582090
2       3  5.776256
3       4  2.318777
4       5  4.823293
5       6  9.948718
6       7  9.493617
7       8  7.942623
8       9  2.608333
9      10  1.255061
10     11  4.331984
11     12  6.686992

In [37]:
fig = go.Figure(data=go.Scatter(x=line_data['Month'], y =line_data['ArrDelay'],mode='lines', marker=dict(color='green')))
fig.update_layout(title='Monthly average delay plot for n year', xaxis_title = 'Months', yaxis_title='Delay of Flights(in minuts)')
fig.show()

In [38]:
bar_data = df.groupby('DestState')['Flights'].sum().reset_index()
bar_data

   DestState  Flights
0         AK     20.0
1         AL     18.0
2         AR      9.0
3         AZ     93.0
4         CA    303.0
5         CO     87.0
6         CT     14.0
7         FL    193.0
8         GA    182.0
9         HI     32.0
10        IA     11.0
11        ID      8.0
12        IL    194.0
13        IN     15.0
14        KS      4.0
15        KY     67.0
16        LA     25.0
17        MA     46.0
18        MD     37.0
19        ME      5.0
20        MI     87.0
21        MN     75.0
22        MO     79.0
23        MS      7.0
24        MT      7.0
25        NC     98.0
26        ND      5.0
27        NE     11.0
28        NH      4.0
29        NJ     63.0
30        NM     16.0
31        NV     73.0
32        NY    117.0
33        OH     48.0
34        OK     30.0
35        OR     41.0
36        PA     93.0
37        PR      8.0
38        RI      8.0
39        SC     13.0
40        SD      4.0
41        TN     62.0
42        TX    300.0
43        UT     59.0
44        VA     98.0
45        VI      1.0
46        VT      3.0
47        WA     69.0
48        WI     23.0
49        WV      6.0
50        WY      6.0

In [39]:
fig = pr.bar(bar_data, x = 'DestState', y ='Flights',title = 'Total number of flights from each destination states')
fig.show()

In [40]:
bub_data = df.groupby('Reporting_Airline')['Flights'].sum().reset_index()

In [41]:
bub_data

   Reporting_Airline  Flights
0                 9E     26.0
1                 AA    326.0
2                 AS     82.0
3                 B6     54.0
4                 CO    117.0
5                 DH      7.0
6                 DL    396.0
7                 EA     12.0
8                 EV    104.0
9                 F9     15.0
10                FL     32.0
11                G4      1.0
12                HA     22.0
13                HP     54.0
14                MQ    113.0
15                NK      9.0
16                NW    164.0
17                OH     33.0
18                OO    157.0
19            PA (1)      4.0
20                PI      7.0
21                TW     55.0
22                TZ      2.0
23                UA    286.0
24                US    246.0
25                VX      8.0
26                WN    446.0
27                XE     44.0
28                YV     38.0
29                YX     18.0

In [43]:
fig = pr.scatter(bub_data,x='Reporting_Airline',y='Flights', title = 'Total number of flights per reporting airlines',size = 'Flights',hover_name='Reporting_Airline',size_max=60)
fig.show()